/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', 'Arial', 'sans-serif';
    background-color: gray;

}




/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

.main-nav {
    display: flex;
    justify-content: center;
    gap: 5em;
}

/* ----------------------------------------------- */
/* HOME */
/* ----------------------------------------------- */

.home {
    text-align: center;
}